.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  svg {
    background: none !important;
  }
  .MuiChip-root {
    padding: 8px;
  }
  .MuiChip-label {
    max-width: 200px;
  }
}
