.SongPage {
  height: 100%;
  background-color: black;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .NotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      color: white;
      text-align: center;
      font-size: 42px;
    }
    a {
      text-decoration: none;
      button {
        padding: 0.75rem 1.5rem;
        margin: 0;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.2rem;
        cursor: pointer;
        text-align: center;
      }
    }
  }
  .ExtendedCardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    .additional {
      .MuiTypography-body2 {
        margin-top: 24px;
      }
    }
  }
}
