body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: calc(100vh - 62px) 56px;
  .wrapper {
    overflow-y: hidden;
  }
}

$mdc-typography-styles-headline1: (
  font-family: unquote("Roboto"),
  font-size: 96,
);
$mdc-typography-styles-headline2: (
  font-family: unquote("Roboto"),
  font-size: 60,
);
$mdc-typography-styles-headline3: (
  font-family: unquote("Roboto"),
  font-size: 48,
);
$mdc-typography-styles-headline4: (
  font-family: unquote("Roboto"),
  font-size: 34,
);
$mdc-typography-styles-headline5: (
  font-family: unquote("Roboto"),
  font-size: 24,
);
$mdc-typography-styles-headline6: (
  font-family: unquote("Roboto"),
  font-size: 20,
);
$mdc-typography-styles-body1: (
  font-family: unquote("Roboto"),
  font-size: 16,
);
$mdc-typography-styles-body2: (
  font-family: unquote("Roboto"),
  font-size: 14,
);
$mdc-typography-styles-subtitle1: (
  font-family: unquote("Roboto"),
  font-size: 16,
);
$mdc-typography-styles-subtitle2: (
  font-family: unquote("Roboto"),
  font-size: 14,
);
$mdc-typography-styles-button: (
  font-family: unquote("Roboto"),
  font-size: 14,
);
$mdc-typography-styles-overline: (
  font-family: unquote("Roboto"),
  font-size: 10,
);
$mdc-typography-styles-caption: (
  font-family: unquote("Roboto"),
  font-size: 12,
);
